stages:
  - versioning

update_version:
  stage: versioning
  tags:
    - runner-v2
  image: alpine:latest
  before_script:
    - apk update && apk add git bash
    - git fetch origin main --tags --prune
    - git checkout -f main
    - git reset --hard origin/main
    - git clean -xdf
  script:
    - "#!/bin/bash"
    - set -Eeuo pipefail
    - current_year=$(date +'%Y')
    - current_month=$(date +'%m')
    - if git log -1 --pretty=%B | grep -q "CI version update to"; then echo "No action needed"; exit 0; fi

    - if [ -f AUTOVERSION ]; then version=$(cat AUTOVERSION); else version="$current_year.$current_month.-1"; fi

    - IFS='.'; set -- $version
    - major=$1
    - minor=$2
    - patch=$3
    - if [ "$major" != "$current_year" ] || [ "$minor" != "$current_month" ]; then new_version="$current_year.$current_month.-1"; else new_version=$version; fi
    - IFS='.'; set -- $new_version
    - new_major=$1
    - new_minor=$2
    - new_patch=$3
    - new_version="$new_major.$new_minor.$((new_patch + 1))"
    - new_tag="v${new_version}"

    - printf "%s" "$new_version" > AUTOVERSION

    - if git rev-parse -q --verify "refs/tags/${new_tag}" >/dev/null; then echo "Tag ${new_tag} already exists locally; exiting."; exit 0; fi
    - if git ls-remote --tags origin "refs/tags/${new_tag}" | grep -q .; then echo "Tag ${new_tag} already exists on remote; exiting."; exit 0; fi

    - git config user.name "$GITLAB_USER_NAME"
    - git config user.email "$GITLAB_USER_EMAIL"
    - git add AUTOVERSION
    - git commit -m "CI version update to $new_version [ci skip]"
    - git tag -a "${new_tag}" -m "version ${new_tag}"
    - if ! git push --atomic "https://gitlab-ci-token:${CI_PUSH_TOKEN}@git.geoproc.geogc.ca/geoml/r_et_d/planaura.git" "HEAD:refs/heads/main" "refs/tags/${new_tag}"; then git tag -d "${new_tag}" || true; git reset --soft HEAD~1; fi

  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" && $CI_MERGE_REQUEST_ID == null'
